* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #232323;
  background-image: linear-gradient(to right, #0c2b1c61, #383838);
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
